In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("play_tennis.csv")

In [6]:
df.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [8]:
df['play'].value_counts()

Yes    9
No     5
Name: play, dtype: int64

In [9]:
py = 9/14
pn = 5/14

In [22]:
pd.crosstab(df["outlook"],df["play"])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [14]:
On = 0
Rn = 2/5
Sn = 3/5

Oy = 4/9
Ry = 3/9
Sy = 2/9

In [15]:
pd.crosstab(df["temp"],df["play"])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [16]:
Cn = 1/5
Hn = 2/5
Mn = 2/5

Cy = 3/9
Hy = 2/9
My = 4/9

In [23]:
pd.crosstab(df["humidity"],df["play"])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [24]:
#last formula
Maximum posterior Rule date - 24/04/23

SyntaxError: invalid syntax (1620589691.py, line 2)